:root {
                /* переменніе к фону */
    --background-color: #ffffff;
    --dark-ground-color:#D41443;
    --primary-color:#FFB8CA;
    --secondary-color:#FFF5F6;
    --ice-cream-color:#FFB8CA;
    --ice-coffee-color:#F0D1A5;
    --milkshakes-color:#C2E297;


           /* переменніе к цвету шрифта */
    --base-color:#000000;
    --ligt-color:#ffffff;
    --dark-font-color:#907E82;
    --title-light-color:#FFA5BA;
    --title-dark-color:#D41443;      

           /* переменніе к шрифту */
    --body-font:DM Sans;
    --title-font:Titan One;
}

body{
    background-color: var(--background-color);

    font-family: var(--body-font), sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    font-style: normal;
    color: var(--ligt-color);
}

            /* оформление header */
.header{
    background-color: var(--primary-color)
   
}
.activ-page {
    color: #D41443;
}
.title {
    font-family:var(--title-font), sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    color: #ffffff;
    
}
.title-dark {
    color: #D41443;
}
.numeral {
font-family:var(--title-font);

font-weight: 400;
font-size: 46px;
line-height: 1.15;
           
text-transform: uppercase;

color:var(--title-dark-color) ;

}
.numeral-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    
    color: var(--ligt-color);
    
}
.header-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    
    color: var(--ligt-color);

}


.how-made {
    background-color: var(--secondary-color);
}
.footer {
    background-color: var(--secondary-color)
}
.button {
    cursor: pointer;
    background-color:var(--background-color);
    color: var(--title-dark-color);

    font-weight:400;
    font-size: 14px;
    line-height: 1.29; 
   
    text-align: center;

    border-radius: 20px;
    border: none;
}
.buy-now {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    width: 159px;
    height: 44px;
    border-radius: 22px;
}
.dark-header {
    
    background:var(--dark-ground-color);
    color:var(--ligt-color);

    border-radius: 20px;
    width: 102px;
    height: 40px;
    
}
.light-header {
    width: 138px;
    height: 40px;
   
}
             /* наша продукция */

.product-light {
    font-family: var(--title-font);

    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--title-light-color);

}
.product-dark {
    font-weight: 400;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;

    color: var(--title-dark-color);
}

.title-product {
    font-family: var(--title-font);

    font-weight: 400;
font-size: 30px;
line-height: 1.12;

text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

}
.product-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.76;
/* or 28px */
   
    text-align: center;
    letter-spacing: 0.04em;
}

.ice-cream {
    width: 329px;
    height: 525px;
   
    border-radius: 24px;

    background-color: var(--ice-cream-color);

}
.ice-coffee {
    width: 329px;
    height: 525px;
   
    border-radius: 24px;

    background-color: var(--ice-coffee-color);
}
.milkshakes {
    width: 329px;
    height: 525px;
   
    border-radius: 24px;

    background-color: var(--milkshakes-color);
}

.cafe {
    background: #F0D1A5;
    color: #ffffff;
    border-radius: 6px;
    border: none;
}
.food-truck {
    background: #C2E297;
    color: #ffffff;
    border-radius: 6px;
    border: none;
}

.cards {
    cursor: pointer;
    background-color: #FFFFFF;
}
.cards-contact {
    color: #907E82;
}
